body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
}
/* Custom scrollbar for contact list */
.contact-list-container::-webkit-scrollbar {
    width: 8px;
}
.contact-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.contact-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.contact-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
